@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
  --color-white: #ffffff;
  --color-light: #f8f9fa;
  --color-gray: #f3f3f3;
  --color-dark: #000000;
  --color-dark-button: #2e2e2e;
  --color-success: #2ecc71;
  --color-error: #e74c3c;
  --color-warning: #f1c40f;
  --color-info: #3498db;

  --text-primary: #636363;
  --text-secondary: #3e3e3e;
  --text-light: #ffffff;
  --text-lighter-muted: #b5b5b5;
  --text-lightest-muted: #d0d0d0;
  --text-muted: #737373;
  --text-muted-dark: #4e4e4e;
  --text-muted-darker: #222222;
  --text-gray: #1a1a1a;
  --text-gray-base: #4f5d72;
  --text-gray-light: #2e2e2e;
  --text-gray-lighter: #696969;

  --border-color-primary: #e5e5e5e5;
  --border-color-secondary: #dadada;
  --border-light: #e1e1e1;
  --border-color-ligt: #b7b7b7;
  --border-button: #2e2e2e99;
  --border-button-dark: #2e2e2e;

  --font-primary: "Inter", sans-serif;
  --font-heading: "Inter", sans-serif;
  --font-mono: "Courier New", monospace;

  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.875rem; /* 30px */
  --text-4xl: 2.25rem; /* 36px */
  --text-5xl: 3rem; /* 48px */

  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  --leading-none: 1;
  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --leading-loose: 2;

  --tracking-tighter: -0.05em;
  --tracking-tight: -0.025em;
  --tracking-normal: 0;
  --tracking-wide: 0.025em;
  --tracking-wider: 0.05em;
  --tracking-widest: 0.1em;

  --radius-none: 0;
  --radius-sm: 0.25rem; /* 4px */
  --radius-md: 0.375rem; /* 6px */
  --radius-base: 0.5rem; /* 8px */
  --radius-xl: 0.75rem; /* 12px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
}

.main__wrapper {
  padding: 60px  0px 30px;
  max-width: 1320px;
  margin: 0 auto;
}

.button-text {
  color: var(--text-primary);
  background-color: transparent;
  border: transparent;
  font-weight: var(--font-medium);
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0%;
  transition: all 0.3s ease;
  white-space: nowrap;
  display: flex;
  align-items: center;
  font-family: var(--font-primary);
  gap: 4px;
  position: relative;
}

.button-text:hover {
  color: var(--text-muted-darker);
  font-weight: var(--font-bold);
  cursor: pointer;
}

.button-secondary {
  display: inline-block;
  border: 0.38px solid;
  border-color: var(--border-button);
  background-color: transparent;
  border-radius: var(--radius-md);
  color: var(--text-gray);
  padding: 3px 9px;
  font-weight: var(--font-normal);
  font-family: var(--font-primary);
}
.btn__secondary__medium {
  border-color: var(--border-button-dark);
  display: inline-block;
  border: 1px solid;
  background-color: transparent;
  border-radius: var(--radius-base);
  color: var(--text-gray);
  padding: 13px 17px;
  font-weight: var(--font-normal);
  font-family: var(--font-primary);
  font-size: 13px;
}

.button-filled {
  color: var(--color-light);
  background-color: var(--color-dark-button);
  border-radius: var(--radius-base);
  height: full;
  padding: 10px 17px;
  cursor: pointer;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .main__wrapper{
    padding: 0px 60px;
  }
}

@media screen and (max-width: 768px) {
  main {
    margin-top: 30px;
  }
  .main__wrapper {
    padding: 0px 16px;
    gap: 0px;
  }
}
