.third__section {
  background-color: var(--color-dark);
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin: 30px 0px;
}

.third__top__content {
  display: flex;
  gap: 24px;
}
.top__content-texts {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.third__top__content-title {
  font-weight: var(--font-normal);
  font-size: 28px;
  line-height: 36px;
  font-family: var(--font-primary);
  letter-spacing: 0%;
  color: var(--text-light);
}
.third__top__content img {
  max-width: 700px;
  margin: 0 auto;
}
.third__top__content-text {
  color: var(--text-lighter-muted);
  font-family: var(--font-primary);
  font-size: var(--font-base);
  font-weight: var(--font-normal);
}

@media screen and (max-width: 1068px) {
  .third__top__content {
    flex-direction: column;
  }
  .third__top__content-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    line-height: 1.5;
  }
}
.third__section__cards {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .third__section {
    padding: 20px 16px 16px 16px;
  }
  .third__top__content img {
    max-width: 345px;
  }
  .third__section__cards{
flex-direction: column;
  }
}
