.reporter-profiles__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  padding: 20px 0;
}
@media screen and (max-width: 1400px) {
  .reporter-profiles__cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .reporter-profile-card:nth-last-child(-n + 2) {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .reporter-profiles__cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .reporter-profile-card:nth-last-child(-n + 2) {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .reporter-profiles__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .reporter-profile-card:nth-last-child(-n + 4) {
    display: none;
  }
}
