.home-page {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px 0;
}

.home-page__featured-news,
.home-page__latest-news,
.home-page__category-news,
.home-page__trending-news,
.home-page__reporter-profiles,
.home-page__news {
  width: 100%;
}
