<header>
  <nav class="main-nav">
    <div class="logo-container">
      <img src="../../assets/desc-logo.svg" alt="logo" class="desktop-logo" />
      <img src="../../assets/tablet-logo.svg" alt="logo" class="tablet-logo" />
      <img src="../../assets/mobile-logo.svg" alt="logo" class="mobile-logo" />
    </div>

    <div class="nav-content">
      <!-- Desktop/Tablet Navigation -->
      <ul id="nav-list" class="nav-list">
        <!-- Navigation items will be added here -->
      </ul>

      <div class="header-act-btn-container">
        <div class="tablet-header-search">
          <input type="text" placeholder="რას ეძებ?" class="mobile-search-input" />
          <div class="ellipse">
            <img src="../assets/search2.svg" alt="search" style="width: 11px; height: 11px" />
          </div>
        </div>
        <button class="button-text desktop-header-search">
          <img src="../assets/search.svg" alt="search" style="width: 24px; height: 24px" />
        </button>

        <div class="auth-buttons">
          <button class="button-text">
            <img src="../assets/human.svg" alt="profile" style="width: 14px; height: 14px" />
            <p>შესვლა</p>
          </button>
          <button class="button-filled">დაწერე სტატია</button>
        </div>
      </div>

      <!-- Mobile Search and Profile -->
      <div class="mobile-header-search-content">
        <div class="mobile-header-search">
          <input type="text" placeholder="მოზებნე" class="mobile-search-input" />
        </div>
        <div class="autlined-icon">
          <img src="../assets/human.svg" alt="profile" style="width: 8px; height: 8px" />
        </div>
      </div>
    </div>
  </nav>

  <!-- Mobile Navigation -->
  <nav class="mobile-nav">
    <ul id="mobile-nav-list" class="mobile-nav-list">
      <!-- Navigation items will be added here -->
    </ul>
  </nav>
</header>
