.fours__section__title-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.fours__section__title {
  font-family: var(--font-primary);
  font-weight: var(--font-bold);
  font-size: var(--text-lg);
  color: var(--color-dark);
  white-space: nowrap;
}

.fours__section__title-container hr {
  width: 100%;
  height: 1px;
  background-color: var(--border-color-secondary);
  border: none;
  margin: 0;
}
