<section class="category-news">
  <div class="category-news__top width__wrapper">
    <img src="../../assets/astronaut.png" alt="astronaut" />
    <div class="category-news__content">
      <h2 class="category-news__title">
        "ბოდიოიდები" – ორგანოების ტრანსპლანტაციისთვის შექმნილი ადამიანები
      </h2>
      <p class="category-news__text">
        სხეულის ხელოვნური ნაწილების და ორგანოების ზრდის იდეა, ახალი არ არის და
        მედიცინაში უკვე გამოიყენება. თუმცა, მეცნიერებმა, ცოტა ხნის წინ,
        გამოაცხადეს, რომ ადამიანის მთელი სხეულის გაზრდა შეუძლიათ.
        გადანერგვისთვის საჭირო, ადამიანის ორგანოების მწვავე დეფიციტის პრობლემის
        მოსაგვარებლად, მეცნიერები უჩვეულო გადაწყვეტილებებს ეძებენ, მათ შორის
        ისეთსაც, რომელიც შესაძლოა, საყოველთაოდ მიღებული წარმოდგენების და
        მორალური ნორმებისთვის, ნამდვილი გამოწვევა იყოს.
      </p>
    </div>
  </div>
  <div class="category-news__cards__container width__wrapper">
    <div id="category-news-cards" class="category-news__cards"></div>
  </div>
</section>
